.title{
  font-size: 2em;
  margin: 1%;
  height: 1%;
  font-family: sans-serif;
  color: black;
  background: white;
  overflow: hidden;
}

body {
  font: 11px sans-serif;
}

.divCard{
  position: absolute;
  margin-top: 1%;
  height: 85%;
  width: 95%;
}

.axis path,
.axis line {
  fill: nredone;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  text-align: center;
  padding: 10px;
  font: 20px sans-serif;
  background: black;
  color: white;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
